body{
    background-color:#483645;
}

.gifContainer{
    background-color: lightgray;
}

.header{
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: bottom;
}

.spacer{
    background-color: lightgray;
    margin-top: 50px;
    margin-bottom: 50px;
}

#gif-form{
    margin-top:40px;
}


.star{
    position: absolute;
    top: 4%;
    right: 10%;
    width: 30px;
    height: 30px;
}

