body{
    background-color:#483645;
}

.gifContainer{
    background-color: #352933;
}

.header{
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: bottom;
}

.rating
{
    color:white;
}

.spacer{
    background-color: lightgray;
    margin-top: 50px;
    margin-bottom: 50px;
}

#gif-form{
    margin-top:40px;
}

.form-control{
    background-color: rgba(31, 31, 31, 0.897);
    color:white;
}

.form-control:focus{
    background-color: rgba(54, 54, 54, 0.897);
    color:white;
    outline: none !important;
    box-shadow: none !important;
}


.btn-primary{
    background-color: rgba(0, 0, 0, 0.259);
    border-color: #aaaaaa;
    border-radius: 0px;
}

.btn-primary:hover{
    background-color: rgba(58, 58, 58, 0.685);
    border-color: #aaaaaa;
    border-radius: 0px;

}

.btn-primary:focus{
    background-color: rgba(0, 0, 0, 0.859);
    border-color: #aaaaaa;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary:active{
    background-color: rgb(82, 82, 82);
    border-color: #aaaaaa;
    border-radius: 0px;
    outline: none !important;
    box-shadow: none !important;
}

.star{
    position: absolute;
    top: 4%;
    right: 10%;
    width: 30px;
    height: 30px;
}

